/*Orange Color #e67e22*/

/*---------------------------------------*/
/*Basic Setup*/
/*---------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*Adding Font for HTML page*/
html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix{
    zoom:0;
}

.clearfix:before{
    content: '.';
    clear: both;
    display: block;
    height:0;
    visibility: hidden;
}

/*---------------------------------------*/
/*Reusable Components*/
/*---------------------------------------*/

.row{
    max-width: 1140px;
    margin : 0 auto;
}

section{
    padding: 110px 0;
}


/*---------------HEADINGS---------------*/

h1, 
h2, 
h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    color: #fff;
    margin-top:0;
    margin-bottom: 30px;
    font-size: 300%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-weight: 400;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 200px;
    margin: 35px auto;
    
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
    text-align: left;
    font-weight: 400;
}


/*---------------BUTTONS---------------*/
.btn:link, 
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border: 2px solid #e67e22;
    border-radius: 100px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    color: #fff;
    margin-right: 10px;
}

.btn-ghost:link,
.btn-ghost:visited{
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]{
    border: 2px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 2px solid #cf6d17;
    color:#fff;
}


/*---------------HEADER---------------*/
header{
    background-image: -webkit-gradient(linear,left top, right top,from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.1))), url(img/hero-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(img/hero-min.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box{
    position:absolute;
    width:1140px;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo{
    height:100px;
    width:auto;
    margin-top:20px;
    float: left;
}
.logo-black{
    height:60px;
    width:auto;
    margin:5px 0;
    float: left;
}
.logo-black{
    display: none;
}

/*-------------Main.NAVI----------*/

.main-nav{
    float:right;
    list-style: none;
    margin-top: 50px;
    
}

.main-nav li{
    display: inline-block;
    margin-left :50px;
    
}

.main-nav li a:link,
.main-nav li a:visited{
    padding-bottom: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 120%;
    border-bottom : 2px solid transparent;
    -webkit-transition: border-bottom 0.4s;
    transition: border-bottom 0.4s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom : 3px solid #e67e22;
}

/*-------------Mobile.NAVI----------*/
.mobile-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i{
    font-size: 240%;
    color: #fff;
    margin-right: 15px;
}

/*-------------Sticky.NAVI----------*/
.sticky{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.95);
    -webkit-box-shadow: 2px 2px 10px #111;
    box-shadow: 2px 2px 10px #111;
    z-index: 9999;

}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 18px 0;
    color: #555;
}


.sticky .logo {display: none;}
.sticky .logo-black{display: block;}

.sticky .main-nav{
    margin-top: 23px ;
}

/*---------------ICON---------------*/
.feature-icon{
    font-size: 250%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    text-align: left;
}


/*---------------FEATURES---------------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin: 10px auto;
    text-align: center;
}

.feature-box{
    padding: 1%;
}

.feature-box p{
    font-size:90%;
    line-height: 145%;
    text-align: left;
}

/*---------------IMAGES USING DIV---------------*/
.section-meals {
    padding: 0;
    
}

.meals-row {
/*    margin-bottom: -0.4%;*/
    display: inline-block;
    width: 100%;
}

.meals-photo{
    margin:0;
    float:left;
    width: 25%;
    overflow:hidden;
    background: #000;
}

.meals-photo img{
    margin:0;
    opacity: 0.6;
    width: 100%;
    height:auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meals-photo img:hover{
    margin:0;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1;
}

/*---------------Image usingList---------------*/
/*
.meals-list {
    list-style: none;
    width:100%;
}

.meals-list li{
    display: block;
    float:left;
    width:25%;
}

.meals-img{
    width:100%;
    margin:0;
}

.meals-img img{
    width:100%;
    height:auto;
}*/



/*---------------HOW IT WORKS---------------*/

.section-steps{
    background-color: #d1d1d1;
}

.steps-box{
    margin-top:30px;
}

.steps-box:first-child{
    padding-right: 3%;
    text-align: right;
}

.steps-box:last-child{
    padding-left: 3%;

}

.appscreen{
    width:45%;
    height: auto;
}
.work-step{
    margin: 55px 0;
}

.work-step div{
    display: block;
    color: #e67e22;
    border: 3px solid #e67e22;
    font-weight: 400;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 10px;
    float:left;
    margin-right: 20px 
}

.work-step p{
    
    font-weight: 400;
    font-size: 115%;
}

.work-step:last-of-type{
    margin-bottom: 100px
}

.steps-box a:link,
.steps-box a:visited
{
    border: 0;
}

.steps-box a:hover,
.steps-box a:active
{
    border: 0;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 20px;
    
}


/*---------------Cities---------------*/

.city-info{
    text-align: left;
}

.city-info img{
    width: 100%;
    height: auto;
}

.city-info h3{
    margin-top: 15px;
}

.city-info p{
    margin: 5px 0;
    padding: 5px 5px;
    font-size: 100%;
    font-weight: 300;
}

.city-info span{
    float: left;
    margin-right: 10px;
    font-size: 150%;
    color: #e67e22;
    font-weight: 400;
    
}

a:link,
a:active,
a:visited{
    font-weight: 400;
    text-decoration: none;
    color: #e67e22;
    padding-bottom: 2px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: color 0.2s, border-bottom 0.2s;
    transition: color 0.2s, border-bottom 0.2s; 
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}


/*---------------Testimonials---------------*/

.section-testimonials{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8))), url(img/back-customers-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(img/back-customers-min.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}


blockquote{
    padding: 2px;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 30px;
}

blockquote:before{
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
}

cite{
    font-size: 90%;
    margin-top: 20px;
    display: block;
}

cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}



/*---------------SignUp---------------*/
.section-plans{
    background-color: #d1d1d1;
}

.plan-box{
    background-color: #fff;
    border-radius: 7px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 3px 2px 5px #969696;
    box-shadow: 3px 2px 5px #969696;
    -webkit-transition: -webkit-box-shadow 0.5s;
    transition: -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s;
    transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.plan-box:hover{
    -webkit-box-shadow: 3px 2px 5px #4d4d4d;
    box-shadow: 3px 2px 5px #4d4d4d;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.plan-box div:first-child{
    
    background-color: #f2f2f2;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.plan-box div:last-child{
    text-align: center;
    border-bottom: 0;
}

.plan-price{
    font-size: 350%;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span{
    font-size: 40%;
}

.plan-moto{
    margin-top: 10px;
    font-size: 70%;

}

.plan-box ul{
    list-style: none;
    
}

.plan-box ul li{
    font-size: 90%;
}

.plan-box ul li i{
    font-size: 180%;
    margin-right: 15px;
    vertical-align: middle;
    color: #e67e22;
}


/*---------------CongtactForm---------------*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}



/*---------------Footer---------------*/

footer{
    background-color: #2f2f2f;
    padding: 30px;
    font-size: 90%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-nav{
    list-style: none;
    float: right
}

.footer-nav li,
.social-nav li{
    display: inline-block;
    margin-right: 15px;
}

.social-nav li:last-child{
    margin-right: 0;
}

.footer-nav a:link,
.footer-nav a:visited,
.social-nav a:link,
.social-nav a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.social-nav li a:hover,
.social-nav li a:active,
.footer-nav li a:hover,
.footer-nav li a:active{
    color: #bbb;
}

.social-nav a:link,
.social-nav a:visited{
    font-size: 140%;
}

footer p{
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 90px;
}

.facebook:hover{
    color: #1877f2
}

.snapchat:hover{
    color: #fffc00;
}

.instagram:hover{
     color: #517fa4;
}

.twitter:hover{
    color:  #1da1f2;
}

.google:hover{
    color: #ea4335;
}

/*Animations*/
.js--wp--1,
.js--wp--2,
.js--wp--3
{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp--4{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp--1.animated,
.js--wp--2.animated,
.js--wp--3.animated,
{
    opacity: 1;
}




